.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
    background-color: black;
    height: 40px;
    padding: 10px;
}

.search-btn {
    color: #EDEDED;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #949BA0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  